

a:hover {
  text-decoration: none;
  color: #B29600;
}
a {
color: #CD5555;
}


li {
  list-style-type: none;
}

body {
  background-image: url('../img/piranesi.jpg');
  background-size: 100% 100%;
  min-height: 700px;
}

.contentboard {
  margin-top: 50px;
  background: rgba(255, 255, 255, .8);
  font-family: 'Alegreya', serif;
}

.romanheading {
  font-size: 70px;
}
