<div class="container">

  <div class="col-md-6 col-md-offset-3 contentboard">
  <h1 class="text-center romanheading">{{#link-to 'questions'}}ROMAN FORUM{{/link-to}}</h1>
  <h2 class="text-center subheading"><em>An Advice Message Board</em></h2>
  <h3 class="text-center heading-phrase">When your life is in ruins,<br> you must seek advice.</h3>
    <div class="inner-container">
      {{outlet}}
    </div>
  </div>
</div>
