<div class="container">

  <div class="col-md-6 col-md-offset-3 contentboard">
  <h1 class="text-center romanheading">{{#link-to 'questions'}}Roman Forum{{/link-to}}</h1>
  <h2 class="text-center">An Advice Message Board</h2>
  <h3>When your life is in ruins, you must seek advice.</h3>
  {{outlet}}
  </div>

</div>
