<div class="container">
  <h1>{{#link-to 'questions'}}Roman Forum{{/link-to}}</h1>
  <h2>An Advice Message Board</h2>
  <h3>If your life is in ruins, you must seek advice.</h3>
  <hr>
  {{outlet}}
</div>
