
<h2>Add an Answer</h2>


<form>
  <label for="answer">Answer:</label>
  {{textarea id="answer" class="form-control text-font" value=answer}}

  <label for="author">Author:</label>
  {{input id="author" class="form-control text-font" value=author}}
<br>
    <button class="btn btn-default check-mark" {{action 'save'}}><span class="glyphicon glyphicon-ok"></span></button>
</form>
