<h1>Add a New Question</h1>
<form>
  <label for="question">question</label>
  {{input id="question" class="form-control" value=question}}

  <label for="description">Description</label>
  {{textarea id="description" class="form-control" value=description}}

  <label for="author">author</label>
  {{input id="author" class="form-control" value=author}}
<br>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
