<div class="question-answer-box">

  <ul>
    {{#each}}
      <li>Q: {{#link-to 'question' this.id}}{{question}}{{/link-to}}</li>
    {{/each}}
  </ul>
  <div class="plus-icon">

    <p>{{#link-to 'new-question' classNames="btn-default"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}</p>
  </div>

</div>
