<h1>Questions:</h1>
<ul>
  {{#each}}
    <li>{{#link-to 'question' this.id}}{{question}}{{/link-to}}</li>
  {{/each}}
</ul>


<p>{{#link-to 'new-question' classNames="btn btn-default"}}Add a New Question{{/link-to}}</p>
